.container {
  display: flex;
}

.editor-container {
  width: 50vw;
  height: 100vh;
  position: relative;
  padding: 24px;
}

.markdown-editor {
  border-right: 1px solid #eee;
}

.content-editable {
  outline: none;
}

.placeholder {
  position: absolute;
  color: #aaa;
  top: 24px;
  left: 24px;
  pointer-events: none;
  user-select: none;
}